Source: jsl
Maintainer: Arthur Lutz <arthur.lutz@logilab.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.1

Package: python-jsl
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: A Python DSL for defining JSON schemas
 JSL
 ===
 .
 .. image:: https://travis-ci.org/aromanovich/jsl.svg?branch=master
     :target: https://travis-ci.org/aromanovich/jsl
     :alt: Build Status
 .
 .. image:: https://coveralls.io/repos/aromanovich/jsl/badge.svg?branch=master
     :target: https://coveralls.io/r/aromanovich/jsl?branch=master
     :alt: Coverage
 .
 .. image:: https://readthedocs.org/projects/jsl/badge/?version=latest
     :target: https://readthedocs.org/projects/jsl/
     :alt: Documentation
 .
 .. image:: http://img.shields.io/pypi/v/jsl.svg
     :target: https://pypi.python.org/pypi/jsl
     :alt: PyPI Version
 .
 Documentation_ | GitHub_ |  PyPI_

